<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSyp230LTb4oec0eLU1wLb2RBP-Gt4YOo</string>
	<key>GCM_SENDER_ID</key>
	<string>209138929253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-9480d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-9480d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209138929253:ios:3f9c7ad9f399a71bab008c</string>
</dict>
</plist>